/* Resets */
*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
ul,ol {
    padding: 0;
}
li {
    list-style-type:none;
}
a {
    text-decoration: none;
    color: #000;
}
body {
    margin: 0;
    background-color: #eee;
    padding-bottom: 150px;
}

/* Navigation */
nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
    color: #fff;
}

nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.main-nav li,
.user li {
    margin: 0 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.main-nav li:first-child {
    font-weight: bold;
}

.logo {
    width: 200px;
    margin-left: 10px;
}

h1,h2 {
    font-weight: 400;
}

h1,
main {
    padding: 0 30px;
}

/* Top data */
.top-data {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #666;
}
.data-detail {
    width: 32%;
    border-radius: 4px;
    background-color: #fff;
    padding: 10px 30px;
    text-transform: capitalize;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.data-detail p {
    margin-top:0;
}
.data-detail h4 {
    margin-bottom: 0;
}

/* Categorías */
.general-data {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #fff;
    padding: 20px 20px 10px 20px;
}
.general-data .card {
    width: 32%;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 0 20px;
    color: #fff;
}

/* Characters Container */
.cardContainer {
    margin-top: 20px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}
.character-card{
    color: #777;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 5px;
    width: 20%;
    background: rgb(108, 125, 124);
    border-radius: 5px;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);    
    display: flex;
    flex-direction: column;
    width: 21%;
    margin: 2%;
    padding: 2%;
    background-color: white;
}
.character-card img{
    width: 60%;
    margin-bottom: 20px; 
}
.character-card:hover,
.active{
box-shadow: 0rem 0rem 10px 8px rgb(58 59 69 / 25%);
}
.character-card p {
    margin: 3px 0;
    list-style-type: none;
    text-decoration: none;
}
.character-card h2 {
    margin: 2px 0;
    list-style-type: none;
    text-decoration: none;
}

/* footer */
footer {
    background-color: #dedede;
    text-align: center;
    padding: 40px 0;
    color: #666;
    bottom: 0;
    width: 100%;
}
